version: "3.9"

services:
  nginx:
    build:
      context: ./pong-frontend
      dockerfile: Dockerfile.production
      args:
        - VITE_PONG_BACKEND_API=https://localhost:8443/api
        - VITE_PONG_BACKEND_WEBSOCKET=wss://localhost:8443/ws
    image: pong-nginx:latest
    container_name: pong-nginx
    ports:
      - "8080:80"     # HTTP mapped to 8080
      - "8443:443"    # HTTPS mapped to 8443
    environment:
      - NODE_ENV=production
    volumes:
      # Nginx configuration
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - pong-backend
    networks:
      - transcendence-network
    restart: unless-stopped

  pong-backend:
    build:
      context: ./pong-backend
      dockerfile: Dockerfile.production
    image: pong-backend:latest
    container_name: pong-backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - RESEND_API_KEY=${RESEND_API_KEY}
    volumes:
      - hardhat-data:/app/ignition/deployments:ro
      - ./pong-backend/images:/app/images
    env_file:
      - .env
    depends_on:
      hardhat:
        condition: service_started
    networks:
      - transcendence-network
    restart: unless-stopped

  hardhat:
    image: hardhat-node
    build:
      context: ./hardhat
      dockerfile: Dockerfile
    container_name: hardhat-node
    ports:
      - "8545:8545"
    volumes:
      - hardhat-data:/app/ignition/deployments
      - /app/node_modules
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8545"] 
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped
    networks:
      - transcendence-network

networks:
  transcendence-network:
    driver: bridge

volumes:
  hardhat-data:
