services:
  pong-frontend:
    build:
      context: ./pong-frontend
      dockerfile: Dockerfile
    container_name: pong-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./pong-frontend:/app
      - /app/node_modules
    environment:
      - VITE_PONG_BACKEND_API=http://localhost:3000
      - VITE_PONG_BACKEND_WEBSOCKET=ws://localhost:3000/ws
      - NODE_ENV=development
    command: npm run dev
    networks:
      - transcendence-network

  pong-backend:
    build:
      context: ./pong-backend
      dockerfile: Dockerfile
    container_name: pong-backend
    ports:
      - "3000:3000"
    volumes:
      - ./pong-backend:/app
      - ./pong-backend/images:/app/images
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev
    networks:
      - transcendence-network
    depends_on:
      hardhat:
        condition: service_started
    env_file:
      - .env

  hardhat:
    image: hardhat-node
    build:
      context: ./hardhat
      dockerfile: Dockerfile
    container_name: hardhat-node
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"] 
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped
    networks:
      - transcendence-network
      
networks:
  transcendence-network:
    driver: bridge


