version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: pong-nginx
    ports:
      - "443:443"
    volumes:
      # SSL certificates
      - ./certs:/etc/ssl/private:ro
      # Nginx configuration
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      # Serve built frontend
      - ./pong-frontend/dist:/usr/share/nginx/html:ro
    depends_on:
      - pong-backend
    networks:
      - transcedence-network

  pong-backend:
    build:
      context: ./pong-backend
      dockerfile: Dockerfile
    container_name: pong-backend
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
      - ADDRESS=192.0.7
      - RPC_URL=http://blockchain:8545
      - RESEND_API_KEY=${RESEND_API_KEY}
    command: npm run start
    env_file:
      - .env
    networks:
      - transcedence-network

  blockchain:
    build:
      context: ./hardhat
      dockerfile: Dockerfile
    container_name: hardhat-node
    expose:
      - "8545"
    command: npx hardhat node
    networks:
      - transcedence-network

networks:
  transcedence-network:
    driver: bridge
