@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
}

#root {
    height: 100%;
}

@font-face {
    font-family: 'Cabin';
    src: url('/fonts/Cabin/Cabin-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'PressStart2P';
    src: url('/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}

.game-font {
    font-family: 'PressStart2P', monospace;
}

.body-font {
    font-family: 'Cabin', sans-serif;
}