@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
}

#root {
    height: 100%;
}

@font-face {
    font-family: 'Cabin';
    src: url('/fonts/Cabin/Cabin-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'PressStart2P';
    src: url('/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}

.game-font {
    font-family: 'PressStart2P', monospace;
}

.body-font {
    font-family: 'Cabin', sans-serif;
}

/* Fancy Button */
.button-fancy-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-fancy-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        hsl(340deg 100% 16%) 0%,
        hsl(340deg 100% 32%) 8%,
        hsl(340deg 100% 32%) 92%,
        hsl(340deg 100% 16%) 100%
    );
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
    will-change: transform;
}

.button-fancy-front {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: white;
    background: hsl(345deg 100% 47%);
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
    will-change: transform;
    width: 100%;
    font-size: 1.25rem;
    padding: 12px 42px;
}

/* @media (min-width: 768px) {
    .button-fancy-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
} */

.button-fancy-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-fancy-pushable:hover .button-fancy-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-fancy-pushable:active .button-fancy-front {
    transform: translateY(-2px);
    transition: transform 10ms;
}

.button-fancy-pushable:focus:not(:focus-visible) {
    outline: none;
}
